{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
    <form>
        <div class="form-group">
            <input list="ville-select" id="ville-input" type="text" name="ville">
            <datalist id="ville-select">
            </datalist>
        </div>
    </form>
{% endblock %}
{% block endPageScript %}
    <script src="{{ asset('script/app.js') }}"></script>
{% endblock %}
