.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    display: flex;
}

.container img {
    padding: 5px 10px;
}

.center-btn {
    display: flex;
    justify-content: center;
}

.center-btn button {
    font-size: 1.2em;
    width: auto;
    margin: 0px 10px;
}

.flex a {
    margin : 0px 10px;
    font-size: 1.4em;
}

.site-name {
    font-weight: bold;
}

.margin-left {
    margin-left: 200px;
}

.flash-success {
    background-color: forestgreen;
    color: white;
    font-size: 1.5em;
    text-align: center;
    height: 40px;
}