.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    display: flex;
}

.container img {
    padding: 5px 10px;
}

.container btn {
    text-align: center;
}

.flex a {
    margin : 0px 10px;
    font-size: 1.4em;
}

.site-name {
    font-weight: bold;
}

.margin-left {
    margin-left: 200px;
}