{% extends '@EasyAdmin/layout.html.twig' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-6 alert-info">
                <span class="display-3">{{ users|length }}</span> utilisateurs inscrits
            </div>
            <div class="col-6 alert-success">
                <span class="display-3">{{ admins }}</span> administrateurs
            </div>
        </div>
        <div class="row" style="margin-top: 30px">
            <div class="col text-center"> <a class="btn btn-primary center" href="{{ path('app_main_home') }}" role="button">Retournez à l'application</a></div>
        </div>
    </div>
{% endblock %}