{% block body %}
    <div>
        <h1>Tutututut !</h1>
        <img src="{{ asset('img/giletjaunegandalf.png') }}" alt="">
        <p>Il n'est pas possible de modifier ou de supprimer une sortie dont vous n'êtes pas l'auteur !</p>
        <a href="{{ path('app_main_home') }}" title="Accueil">Retour à l'accueil</a>
    </div>
{% endblock %}