<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} ENI Sorties {% endblock %}</title>
        {% block stylesheets %}<link rel="stylesheet" type="text/css" href="{{ asset('css/appstyle.css') }}{% endblock %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway&display=swap">
        <script>{% block javascripts %}{% endblock %}</script>
    </head>
    <body>
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <header>
        {% block header %}
            {% include 'include/nav.html.twig' %}
        {% endblock %}
    </header>
    <main>
        {% block body %}

        {% endblock %}
    </main>
    <footer>
        {% block footer %}

        {% endblock %}
    </footer>
    </body>
    {% block endPageScript %}
    {% endblock %}
</html>
