<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>ENI Sorties {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% block stylesheets %}{{ asset('css/style.css') }}{% endblock %}">
        <script>{% block javascripts %}{% endblock %}</script>
    </head>
    <body>
    <header>
        {% block header %}
            {% include 'include/nav.html.twig' %}
        {% endblock %}
    </header>
    <main>
        {% block body %}

        {% endblock %}
    </main>
    <footer>
        {% block footer %}

        {% endblock %}
    </footer>
    </body>
    {% block endPageScript %} {% endblock %}
</html>
